html, body {
  height: 100% !important;
  margin: 0;
}

/*JS injected styles for iframe*/
iframe {
  height: 100% !important;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0px;
}

.images {
  width: 800px;
  margin: 0 auto;
  padding-top: 4em;
}

.pqImage {
  width: 48%;
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-bottom: 1em;
}

.pqImage:nth-child(2n) {
  margin-left:1em;
}

img{
  width: 100%;
  height: auto;
}

.closeButton {
  display: none; 
  border: none;
  background: none;
  font-size: 3em;
  right: 0.5em;
  position: absolute;
  color: grey;
  opacity: 0.9;
  z-index: 300;
}

.closeButton:hover {
  cursor: pointer;
}

.backdrop{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
}

